# Tuple 

A tuple is very similar to a list. You will see a lot of similarity between tuple and list in syntax and usage. Then, when we want to use a tuple as opposed to a list. The main difference between a tuple and a list is performance. Because a tuple is immutable (users can't change its values) so that operation on a tuple is a lot faster than a list. A tuple can be created in following way:

In [4]:
# Assignment
james = (175, 70, '999-999-99999', ['apple', 'banana', 'peach'])

When creating a tuple with one item or without any item, we should use comma in a parenthesis as shown below

In [37]:
tuple_w_one = (165,)
type(tuple_w_one)

tuple

In [44]:
# Not tuple
not_tuple = (165)
type(not_tuple)

int

In [43]:
# Create a tuple using parenthesis
empty_tuple = ()
type(empty_tuple)

tuple

In [42]:
# Create a tuple using function 
empty_tuple = tuple()
type(empty_tuple)

tuple

You can access to the items of the tuple as follows:

In [10]:
# Access entire tuple
print(james)

(175, 70, '999-999-99999', ['apple', 'banana', 'peach'])

In [11]:
# Access an item
print(james[0])
print(james[-1])

175
['apple', 'banana', 'peach']

In [18]:
# Access a range of items
print(james[0:1])
print(james[0:2])
print(james[2:4])
print(james[0:])
print(james[-1])
print(james[-3:-1])
print(james[-1:-3]) # This does not print any value

(175,)
(175, 70)
('999-999-99999', ['apple', 'banana', 'peach'])
(175, 70, '999-999-99999', ['apple', 'banana', 'peach'])
['apple', 'banana', 'peach']
(70, '999-999-99999')
()

As mentioned earlier, users can't change any value in tuple. Also, we will not be able to add/remove values from the tuple.

In [19]:
james[1] = 'New'
print(james)

TypeError: 'tuple' object does not support item assignment

In order to change a value in tuple, the workaround is that first convert the tuple to a list, change values, then re-convert to a tuple.

In [21]:
james = list(james)
james[1] = 100
james = tuple(james)
print(james)

(175, 100, '999-999-99999', ['apple', 'banana', 'peach'])

But you can change values of a list in a tuple.

In [26]:
james[3][0] = 'melon'
print(james)

(175, 100, '999-999-99999', ['melon', 'banana', 'peach'])

Since list and tuple is a sequential data structure, users can loop through list and tuple using for statement.

In [22]:
for value in james:
    print(value)

175
100
999-999-99999
['apple', 'banana', 'peach']

We can check if an item exist in the tuple using `in`.

In [27]:
if 175 in james:
    print('Found values!')

Found values!

The length of the tuple can be found using `len`.

In [28]:
len(james)

4

Joining two tuple can be done using `+` operator.

In [48]:
jamie = (154,45,'999-999-9999',['grape','pineapple'])
joined = james + jamie
for value in joined:
    print(value)

175
100
999-999-99999
['melon', 'banana', 'peach']
154
45
999-999-9999
['grape', 'pineapple']